@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes slideUp {
  from { transform: translate3d(0, 0, 0); }
  to   { transform: translate3d(0, -100vh, 0); }
}

@keyframes slideUpToPlace {
  from { transform: translate3d(0, 100vh, 0); }
  to   { transform: translate3d(0, 0, 0); }
}

@keyframes slideDown {
  from { transform: translate3d(0, -100vh, 0); }
  to   { transform: translate3d(0, 0, 0); }
}
