@font-face {
	font-family: 'DIN Pro';
	src: url('~@/assets/fonts/DINPro-Black.woff') format('woff');
	font-weight: black;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Condensed';
	src: url('~@/assets/fonts/DINPro-CondBlack.woff') format('woff');
	font-weight: black;
	font-style: normal;
}
