html {
  ::-webkit-scrollbar { width: 4px; }
  ::-webkit-scrollbar-track { background-color: $color-gold; }
  ::-webkit-scrollbar-thumb { background-color: $color-gold-darker-2; }
}

body {
  color: $color-darkblue;
  background-color: $color-gold-darker-2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 { font-family: $fontFamily-sans; }
h5, h6 { font-family: $fontFamily-sansCondensed; }

h1, .h1 { font-size: $fontSize-xxxlarge; @include breakpoint( 'mobile' ) { font-size: $fontSize-xxlarge; }}
h2, .h2 { font-size: $fontSize-xxlarge; @include breakpoint( 'mobile' ) { font-size: $fontSize-xxlarge !important; }}
h3, .h3 { font-size: $fontSize-xlarge; }
h4, .h4 { font-size: $fontSize-large; }
h5, .h5 { font-size: $fontSize-base; }
h6, .h6 { font-size: $fontSize-small; text-transform: uppercase; }

p, li, a, label {
  font-family: $fontFamily-serif;
  font-size: $fontSize-base;
  line-height: 1.5;
}

a, .a {
  color: $color-darkblue;
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
  transition: opacity 50ms ease;
}

input, textarea, button {
  padding: 12px $scale-2-1;
  border: none;
  background-color: white;
  border-radius: $borderRadius / 2;
  line-height: 1.5;

  &::-webkit-input-placeholder { font-family: $fontFamily-serif; color: $color-gold-darker-3; font-size: $fontSize-xsmall; } /* Chrome/Opera/Safari */
  &::-moz-placeholder { font-family: $fontFamily-serif; color: $color-gold-darker-3; font-size: $fontSize-xsmall;  } /* Firefox 19+ */
  &:-ms-input-placeholder { font-family: $fontFamily-serif; color: $color-gold-darker-3; font-size: $fontSize-xsmall;  }  /* IE 10+ */
  &:-moz-placeholder { font-family: $fontFamily-serif; color: $color-gold-darker-3; font-size: $fontSize-xsmall;  } /* Firefox 18- */
}

textarea:focus,
input:focus {
  transition: all 300ms $animationBezier;
  outline: none;
}

input {
  font-family: $fontFamily-serif;
  &.withButton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none; }}

input[type="submit"],
button {
  font-family: $fontFamily-sans;
  padding: $scale $scale-2-1;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: $borderRadius / 2;
  transition: all 300ms $animationBezier;
  font-size: $fontSize-xsmall;

  &:hover { opacity: 0.9; }

  &.withInput { border-top-left-radius: 0; border-bottom-left-radius: 0; border: 1px solid $color-darkblue; }
  &.submit {
    background-color: $color-darkblue;
    color: white;

    &.disabled {
      background-color: $color-darkblue-lighter-5;
      color: $color-darkblue-lighter-3;
      pointer-events: none;
    }
  }
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-darkblue-lighter-4;
  margin: 0;
  padding: 0;
}
